services:
    devcontainer:
        platform: linux/amd64
        build:
            context: .
            dockerfile: Dockerfile
            args:
                VARIANT: ubuntu-24.04
            target: base
        volumes:
            - ../../:/workspace:cached
            - devcontainer-bashhistory:/commandhistory
            - poetry-cache:/home/vscode/.cache/pypoetry
        command: sleep infinity

    otel-collector:
        image: otel/opentelemetry-collector-contrib:latest
        platform: linux/amd64
        ports:
            - "4317:4317"    # OTLP gRPC receiver
            - "4318:4318"    # OTLP HTTP receiver
            - "8888:8888"    # Prometheus metrics exposed by the collector
            - "8889:8889"    # Prometheus exporter metrics
        volumes:
            - ../../.devcontainer/python-spark/otel-collector/otel-config.yaml:/etc/otel/config.yaml
        command: ["--config=/etc/otel/config.yaml"]
        networks:
            - default

    jaeger:
        image: jaegertracing/all-in-one:latest
        platform: linux/amd64
        ports:
            - "16686:16686"  # Jaeger UI
            - "14250:14250"  # Jaeger gRPC receiver (for collector)
        environment:
            - LOG_LEVEL=info
        depends_on:
            - otel-collector
        networks:
            - default

    prometheus:
        image: prom/prometheus:latest
        platform: linux/amd64
        ports:
            - "9090:9090"    # Prometheus UI
        volumes:
            # - prometheus-storage:/prometheus
            - ../../.devcontainer/python-spark/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
        command:
            - --config.file=/etc/prometheus/prometheus.yml
            - --storage.tsdb.path=/prometheus
            - --web.enable-lifecycle
        depends_on:
            - otel-collector
        networks:
            - default

    grafana:
        image: grafana/grafana:latest
        platform: linux/amd64
        ports:
            - "3000:3000"    # Grafana UI
        environment:
            - GF_AUTH_ANONYMOUS_ENABLED=true
            - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
            - GF_AUTH_DISABLE_LOGIN_FORM=true
            - GF_SECURITY_ALLOW_EMBEDDING=true
        volumes:
            # - grafana-storage:/var/lib/grafana
            - ./grafana/provisioning:/etc/grafana/provisioning
        depends_on:
            - jaeger
            - prometheus
            - otel-collector
        networks:
            - default

volumes:
    devcontainer-bashhistory:
    poetry-cache:
    # grafana-storage:
    # prometheus-storage:
